In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geoip2.database

In [43]:
IP_DATA_PATH = "/scratch/ira"
PROCESSED_DATA_PATH = '/dlabdata1/turkish_wiki/processed_data'

In [50]:
edits = pd.read_csv(f'{PROCESSED_DATA_PATH}/all_edits.csv', index_col = 0)

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [49]:
edits

,event_type,event_timestamp,event_user_id,event_user_text_historical,page_id,revision_minor_edit,revision_is_identity_revert,revision_is_identity_reverted
0,create,2002-12-05 22:51:28+00:00,NaN,209.162.17.70,2740662,True,False,False
1,create,2002-12-05 22:54:39+00:00,1.0,Brion VIBBER,5,False,False,False
2,create,2002-12-05 23:39:38+00:00,NaN,80.128.44.46,2740662,False,False,False
3,create,2002-12-13 17:59:34+00:00,NaN,193.140.196.133,2740662,False,False,False
4,create,2002-12-13 18:01:20+00:00,NaN,193.140.196.133,2740662,False,False,False
...,...,...,...,...,...,...,...,...
134,create,2003-09-16 07:53:46+00:00,NaN,195.161.196.237,59,False,False,False
136,create,2003-09-16 12:56:04+00:00,23.0,Traroth,58,False,False,False
137,create,2003-09-16 13:01:16+00:00,23.0,Traroth,40,False,False,False
138,create,2003-09-16 13:09:52+00:00,23.0,Traroth,2740662,False,False,False
139,create,2003-09-16 13:26:05+00:00,23.0,Traroth,24,False,False,False

In [14]:
edits['event_user_id'].sum()

17391816

In [16]:
edits[edits['user_kind'] == 'account']['event_user_id'].sum()

9538274

In [17]:
edits[edits['user_kind'] == 'bot']['event_user_id'].sum()

4327908

In [18]:
edits[edits['user_kind'] == 'anonymous']['event_user_id'].sum()

3525634

In [10]:
edits.tail(10)

             date  user_kind  revision_is_identity_revert
18926  2021-01-29        bot                           10
18927  2021-01-30    account                          315
18928  2021-01-30  anonymous                           26
18929  2021-01-30        bot                            4
18930  2021-01-31    account                          400
18931  2021-01-31  anonymous                            9
18932  2021-01-31        bot                           96
18933  2021-02-01    account                          104
18934  2021-02-01  anonymous                            3
18935  2021-02-01        bot                            0

In [42]:
reader = geoip2.database.Reader(f'{IP_DATA_PATH}GeoLite2-City.mmdb')
response = reader.city('213.205.196.180')
print(response.country.iso_code)
print(response.country.name)
print(response.postal.code)
print(response.subdivisions.most_specific.name)
print(response.city.name)
print(response.location.latitude)
print(response.location.longitude)

GB
United Kingdom
M40
Manchester
Manchester
53.5039
-2.1959