In [4]:
import pandas as pd
import numpy as np

In [5]:
TOPICS_PATH = '/dlabdata1/turkish_wiki'

In [8]:
topics_df = pd.read_csv(f"{TOPICS_PATH}/trwiki_topics.csv")

In [9]:
topics_df

,wiki_db,qid,pid,num_outlinks,Culture.Biography.Biography*,Culture.Biography.Women,Culture.Food_and_drink,Culture.Internet_culture,Culture.Linguistics,Culture.Literature,...,STEM.Computing,STEM.Earth_and_environment,STEM.Engineering,STEM.Libraries_&_Information,STEM.Mathematics,STEM.Medicine_&_Health,STEM.Physics,STEM.STEM*,STEM.Space,STEM.Technology
0,trwiki,Q216912,2173,373,0.004,0.000,0.001,0.000,0.000,0.001,...,0.000,0.001,0.001,0.0,0.000,0.000,0.000,0.006,0.000,0.001
1,trwiki,Q6327,2952,62,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.001,0.000,0.000
2,trwiki,Q2821,3250,621,0.822,0.066,0.000,0.002,0.000,0.013,...,0.002,0.002,0.006,0.0,0.002,0.002,0.002,0.098,0.013,0.008
3,trwiki,Q133168,22339,249,0.971,0.095,0.001,0.000,0.005,0.005,...,0.000,0.001,0.001,0.0,0.000,0.001,0.000,0.008,0.000,0.001
4,trwiki,Q1404923,38588,46,0.001,0.001,0.000,0.000,0.000,0.000,...,0.000,0.001,0.000,0.0,0.000,0.962,0.000,0.998,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385014,trwiki,Q4540622,2832399,3,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000
385015,trwiki,Q13499227,2846495,10,0.999,0.453,0.000,0.000,0.000,0.001,...,0.003,0.001,0.335,0.0,0.000,0.000,0.006,0.986,0.793,0.877
385016,trwiki,Q102129184,2847913,18,0.083,0.008,0.000,0.000,0.040,0.005,...,0.001,0.001,0.002,0.0,0.001,0.003,0.001,0.012,0.000,0.001
385017,trwiki,NaN,2876177,9,1.000,0.989,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000
385018,trwiki,NaN,2878496,5,0.113,0.133,0.001,0.000,0.000,0.712,...,0.000,0.000,0.002,0.0,0.000,0.001,0.000,0.003,0.000,0.000